/* Place a custom css file in your own project to use this. */
.list-tags li {
    display: inline-block;
  }
  .list-tags li + li {
    margin-left: 3px;
    margin-bottom: 8px;
  }
  .list-tags a {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    color: var(--content);
    font-size: 14px;
    line-height: 34px;
    background: var(--entry);
    border-radius: 4px;
  }
  .list-tags a:hover {
    background: var(--border);
  }
